<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>11_过滤器_格式化数据</title>
</head>
<!--
1. 理解过滤器
  功能: 对要显示的数据进行特定格式化后再显示
  注意: 并没有改变原本的数据, 可是产生新的对应的数据
2. 编码
  1). 定义过滤器
    Vue.filter(filterName, function(value[,arg1,arg2,...]){
      // 进行一定的数据处理
      return newValue
    })
  2). 使用过滤器
    <div>{{myData | filterName}}</div>
    <div>{{myData | filterName(arg)}}</div>
-->
<!--需求: 对当前时间进行指定格式显示-->
<body>
<div id="app">
    <h2>过滤器_格式化数据</h2>
    <p>{{time}}</p>
    <p>{{time | dateformat}}</p>
    <p>{{time | dateformat('YYYY-MM-DD')}}</p>
    <button @click="destroy">关闭时间</button>
</div>

</body>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/moment.js/2.22.1/moment.js"></script>
<script type="text/javascript">
    /*自定义过滤器 ： value：time ；*/
    /*过滤器dateformat参数为空时选择下面格式 格式化，不为空则根据参数格式 格式化*/
    Vue.filter('dateformat',function(value,format="YYYY-MM-DD HH:mm:ss"){
        return moment(value).format(format);
    })

    new Vue({
        el:'#app',
        data:{
            time:new Date()
        },
        mounted(){
            this.intervalId = setInterval(()=>{
                console.log('**************')
                this.time = new Date()
            },1000)
        },
        //销毁VM之前消除定时器
        beforeDestroy(){
           clearInterval(this.intervalId)
        },
        methods:{
            destroy(){
                this.$destroy();//销毁VM对象
            }
        }
    })

</script>
</html>