<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算属性和监事</title>
</head>
<!--
1. 计算属性
  在computed属性对象中定义计算属性的方法
  在页面中使用{{方法名}}来显示计算的结果
2. 监视属性:
  通过通过vm对象的$watch()或watch配置来监视指定的属性
  当属性变化时, 回调函数自动调用, 在函数内部进行计算
3. 计算属性高级:
  通过getter/setter实现对属性数据的显示和监视
  计算属性存在缓存, 多次读取只执行一次getter计算
-->
<body>
<div id="app">
    <input type="text" placeholder="First Name" v-model="firstName"><br>
    <input type="text" placeholder="Last Name" v-model="lastName"><br>
    姓名1(单向)：<input type="text" placeholder="Full Name1" v-model="fullName1"><br>
    姓名2(单向)：<input type="text" placeholder="Full Name2" v-model="fullName2"><br>
    姓名3(双向)：<input type="text" placeholder="Full Name3" v-model="fullName3"><br>
</div>
</body>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            firstName: '刘',
            lastName: '东',
            fullName2: '刘 东',
        },

        //动态的计算属性
        computed: {
            //什么时候执行：1.初始化执行 2.相关属性发生改变
            fullName1() {
                return this.firstName + ' ' + this.lastName
            },

            //1.你定义的 2.你没有调 3.但最终执行了
            //回调函数什么时候调用  用来干嘛的
            //回调函数 计算并返回当前属性的值
            fullName3:{
                /*当fullName3发生变化时显示以下数据*/
                get(){
                    return this.firstName + ' ' + this.lastName
                },
                //回调函数，当属性值发生改变时，更新相关的属性数据
                set(value){
                    const names = value.split(' ')
                    this.firstName = names[0]
                    this.lastName = names[1]
                }
            }
        },

        //监视firstname的变化
        watch: {
            firstName: function (value) {//firstName发生了变化
                this.fullName2 = value + ' ' + this.lastName

            }
        },
    })
    //监视lastName变化
    vm.$watch('lastName', function (value) {
        //更新fullName
        this.fullName2 = this.firstName + ' ' + value

    })
        // vm.$watch('fullName3', function (value) {
        //     //更新firstName和lastName
        //     this.firstName =
        //
        // })
</script>
</html>