<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>
</head>
<body>
<div id="app">
    <h2>列表渲染</h2>
    <h2>v-for:遍历数组</h2>
    <ul>
        <li v-for="(p,index) in person">
        {{index}}---{{p.name}}-----{{p.age}}

            ----
            <button @click="deleteP(index)">删除</button>
            ----
            <button @click="updateP(index,{name:'八八',age:23})">更新</button>
        </li>
    </ul>

    <h2>v-for:遍历对象</h2>
    <ul>
        <li v-for="(value,key,index) in person[1]">
            {{index}}  {{key}} : {{value}}
        </li>
    </ul>

</div>
</body>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            person: [
                {name: '张三', age: 18},
                {name: '李四', age: 19},
                {name: '王五', age: 20},
                {name: '六六', age: 21},
                {name: '七七', age: 22}
            ]
        },
        methods: {
            deleteP(index) {
                this.person.splice(index, 1) // 调用了不是原生数组的splice(), 而是一个变异(重写)方法
                // 1. 调用原生的数组的对应方法
                // 2. 更新界面
            },
            updateP(index, newP) {
                //this.person[index] = newP //没有改变person本身,只改变了person内部元素,vue只监视person大小,不监视内部数据的变化
                this.person.splice(index, 1, newP)
            }
        }
    })

</script>
</html>