<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染_过滤与排序</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="searchName">
    <ul>
        <li v-for="(p,index) in filterPersons">
            {{index}}--{{p.name}}--{{p.age}}
        </li>
    </ul>
    <button @click="orderTypes(1)">年龄升序</button>
    <button @click="orderTypes(2)">年龄降序</button>
    <button @click="orderTypes(0)">原本顺序</button>
</div>

</body>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el:'#app',
        data:{
            searchName:'',
            orderType:0,
            person: [
                {name: '张三', age: 18},
                {name: '王五', age: 20},
                {name: '李四', age: 19},
                {name: '六六', age: 21},
                {name: '七七', age: 22}
            ]
        },
        computed:{
            filterPersons(){
                //const和let都只在局部模块中生效
                const {searchName,orderType,person} = this;//将当前对象中的searchName和person两个属性的值赋给 当前方法中的searchName和person
                let result;
                result = person.filter(p => p.name.indexOf(searchName) != -1);

                //排序
                if (orderType){
                    result.sort(function (p1,p2) {
                        //1.代表升序；2.代表降序
                        if(orderType===2){
                            return p2.age-p1.age
                        }else{
                            return p1.age-p2.age
                        }
                    })
                }
                return result
            }
        },
        methods:{
            orderTypes(num){
                this.orderType = num
            }
        }
    })
</script>
</html>