<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板语法</title>
</head>
<body>
<div id="app">
    <h2>1.双大括号表达式</h2>
    <p>{{msg}}</p>
    <p>{{msg.toUpperCase()}}</p>
    <p v-html="msg"></p>
    <p v-text="msg"></p>

    <h2>2.强制数据绑定</h2>
    <img src="imageUrl">
    <!--<img v-bind:src="imageUrl">-->
    <!--<img :src="imageUrl">  &lt;!&ndash;绑定图片  &ndash;&gt;-->
    <h2>3.绑定时间监听</h2>
    <button v-on:click="test">我是按钮</button><br>
    <button @click="test1('你是小胖妞')">我是按钮</button>
    <button @click="test2(msg)">我是按钮</button>
</div>
</body>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el:'#app',
        data:{
            msg:'<a href="http://www.baidu.com">我的小可爱</a>',
            imageUrl:"https://cn.vuejs.org/images/logo.png"
        },
        methods:{
            test(){
                alert('你好，小可爱')
            },
            test1(content){
                alert(content)
            },
            test2(content){
                alert(content)
            }
        }
    })
</script>
</html>