<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单输入绑定</title>
</head>

<body>
<div id="app">
    <form action="http://www.baidu.com" @submit.prevent="handleSubmit"><!--@submit.prevent:阻止事件冒泡-->
        <span>用户名：</span>
        <input type="text" v-model="username"><br>
        <span>密码：</span>
        <input type="text" v-model="passwd"><br>
        <span>性别：</span>
        <input type="radio" id="female" value="女" v-model="sex">
        <label for="female">女</label><!--label：当点击“女”的时候相当于点击了上面的“女”的按钮，value的值会与sex绑定-->
        <input type="radio" id="male" value="男" v-model="sex">
        <label for="male">男</label><br>
        <span>爱好：</span>
        <input type="checkbox" id="basketball" value="篮球" v-model="likes">
        <label for="basketball">篮球</label>
        <input type="checkbox" id="football" value="足球" v-model="likes">
        <label for="football">足球</label>
        <input type="checkbox" id="pingpang" value="乒乓球" v-model="likes">
        <label for="pingpang">乒乓球</label><br>

        <span>城市：</span>
        <select v-model="cityNo"> <!--cityNo会绑定option里面的value值；:value 表示取表达式的值-->
            <option :value="city.no" v-for="city in citys">
                {{city.name}}
            </option>
        </select><br>

        <span>简介：</span>
        <textarea rows="3" v-model="info"></textarea><br>

        <input type="submit" value="注册">
    </form>

</div>
</body>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            username: 'ldd',
            passwd: 'ldd',
            sex: '男',
            likes: ['鱼'],
            citys: [
                {name: '未选择', no: ''},
                {name: '北京', no: 'beijing'},
                {name: '上海', no: 'shanghai'},
                {name: '广州', no: 'guangzhou'},
                {name: '深圳', no: 'shenzhen'},
                {name: '杭州', no: 'hangzhou'}
            ],
            cityNo:'',
            info:"你好"

        },
        methods: {
            handleSubmit(){
                console.log(this.username+" "+this.passwd+" "+this.sex+" "+this.cityNo+" "+this.info+" "+this.likes)
                alert(this.username+" "+this.passwd+" "+this.sex+" "+this.cityNo+" "+this.info+" "+this.likes)
            }
        }
    })

</script>
</html>