<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>helloword</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        <p>Hello {{message}}</p>
    </div>
</body>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el:'#app',
        data:{
            message:'小可爱'
        }
    })
</script>

</html>